<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.mapper.DuesMapper">
	<select id="getTotalFee"  resultType="java.lang.Long">
		select sum(fd.amount)  from finance.dues fd where  fd.loan_id= #{loanId}  and fd.due_type= #{dueType}
	</select>
</mapper>
